/* reference: https://www.youtube.com/watch?v=axQ7eN2oPu0 */



@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&family=Roboto:wght@300;400&display=swap');


/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
    box-sizing: border-box;
}


* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

/******************************************
/* LAYOUT
/*******************************************/


body {
    /* height: 5000px; */
    /*To test the nav functionality - we can change later*/
    position: relative;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    /*To remove the underline*/
    color: white;
}

ul {
    list-style: none;
    /*To remove bullet point*/
}

#logo {
    display: inline-block;
    /*This makes height works with inline.*/
    margin-left: -20px;
    margin-top: 20px;
}

#hero-image {
    width: 100%;
    /*To use for entire screen*/
    height: 90vh;
    object-fit: cover;
    /*To use for aspect ratio*/
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    filter: brightness(1)
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
    color: white;
    position: fixed;
    /* position: sticky; */
    /*To be stickly nav*/
    width: 100%;
    z-index: 99999999;
    transition: all 0.5s;
}

.header-scrolled {
    background-color: black;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

.links {
    display: flex;
    column-gap: 30px;
    flex-wrap: wrap;
    /* Keiko: This fixed the issue of the different dimensions, such as phone device*/
}

.link {
    color: white;
    font-size: x-large;
}

.link-item a:visited {
    color: purple;
    text-decoration: underline;
}

.link-item a:hover {
    color: darkorange;
    cursor: pointer;
}

.link-item a:active {
    color: red;
    text-decoration: underline;
}

div h1 {
    position: relative;
    /*This makes outside of the shadow of background image */
    color: white;
    font-size: 3rem;
    text-align: center;
    line-height: 8rem;
    padding-top: 15rem;
}

p.header-text {
    position: relative;
    /*This makes outside of the shadow of background image */
    color: white;
    font-size: 1.5rem;
    text-align: center;

}

a.detail-btn {
    display: inline-block;
    /*This makes height works with inline.*/
    background-color: red;
    position: relative;
    /*This makes outside of the shadow of background image */
    text-align: center;
    border-radius: 10px;
    font-size: 1.5rem;
    text-decoration: none;
    padding: 10px;
    color: white;
    transition-duration: 0.4s;
    margin-left: 900px;
    margin-top: 3rem;

}

a.detail-btn:hover {
    background-color: #4CAF50;
    /* Green */
    color: white;
}

.member-btn {
    display: inline-block;
    /*This makes height works with inline.*/
    background-color: red;
    position: relative;
    /*This makes outside of the shadow of background image */
    text-align: center;
    border-radius: 10px;
    font-size: 0.2rem;
    text-decoration: none;
    padding: 10px;
    color: white;
    transition-duration: 0.4s;

}

.section-header {
    position: relative;
    text-align: center;
    margin-top: 90px;
    margin-bottom: 3rem;
    font-size: xx-large
}

.event .card,
.blog .card {
    display: flex;
    justify-content: center;
    flex-direction: row;
    /*This is default of flex */
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
    /*IE ends support so we can use */
    padding-bottom: 50px;
    /* padding-top: 30px; */

    /* 
    flex-wrap: nowrap;  This is default.

    justify-content: space-around;
    justify-content: space-between;
    justify-content: center;
    justify-content: flex-end;
    justify-content: flex-start; 

    align-items: flex-start; This is default.
    align-items: flex-end;
    align-items: center;

    flex-direction: row; This is default of flex 
    flex-direction: row-reverse;
    flex-direction: colum;
    flex-direction: colum-reverse;

    flex-basis: ;
    flex-grow: ;
    flex-shrink: ;
    */

}

.event-title-link {
    color: black;
}

a.event-title-link:visited {
    color: purple;
    text-decoration: underline;
}

a.event-title-link:hover {
    color: darkorange;
    cursor: pointer;
}

a.event-title-link:active {
    color: red;
    text-decoration: underline;
}

.event .item {
    width: 500px;
    height: 100%;
}

.event-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fc-event {
    display: flex;
}

.fc-event a.event-btn {

    font-size: 1rem;
    padding: 5px;

    /* display: inline-block; */
    background-color: red;
    position: relative;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    padding: 10px;
    color: white;
    transition-duration: 0.4s;
    margin-left: 25px;
    margin-top: 5px;
}

.award-header {
    position: relative;
    text-align: center;

}

.second-hero {
    width: 100%;
    height: auto;
}

.fc-about-us {
    display: flex;
    margin-left: 200px;
    margin-right: 200px;
    gap: 30px;
}

#paragraph {
    margin: 50px;
}

.award .card {
    display: flex;
    justify-content: center;
    flex-direction: row;
    /*This is default of flex */
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
    /*IE ends support so we can use */
    padding-top: 50px;
    padding-bottom: 50px;
}

.award .card:nth-child(even) {
    flex-direction: row-reverse;
}

.award .item {
    background: purple;
    width: 40%;
    height: 500px;
}

#asside-image1 {
    width: 200px;
    height: 200px;
}


/* reference https://www.w3schools.com/howto/howto_css_newsletter.asp */

.fc-form {
    display: flex;
}

.subscribe-text,
.fields {
    flex: 2;
}

.form-btn {
    flex: 1;
}


form {
    border: 3px solid #f1f1f1;
}

.container {
    padding: 20px;
    background-color: #f1f1f1;
}

input[type=text],
input[type=submit] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=checkbox] {
    margin-top: 16px;
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    border: none;
}

input[type=submit]:hover {
    opacity: 0.8;
}




#logo {

    display: inline-block;
    /*This makes height works with inline.*/
    margin-left: -40px;
    margin-top: 1px;
    width: 5%;

}

/* .link {
        font-size: x-small;
    } */

.footer-fc {

    display: flex;
    justify-content: space-around;
    flex-direction: row;
    /*This is default of flex */
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
    /*IE ends support so we can use */
    padding-bottom: 50px;
    padding-top: 30px;
    background-color: #2a8ded;
}

.column {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    list-style: none;

}

#footer-ul li a {
    color: black;
    text-decoration: none;

}

#footer-ul li a:hover {
    color: #2a8ded;
}

.footer-contact {
    font-size: medium;
}


.event-header {
    color: black;
    font-size: xx-large;
    padding-top: 550px;
}

.event-info {
    font-size: x-large;
    margin-left: 30px;
    line-height: 30px;

}

strong {
    color: red;
}

.event-paragrah {

    max-width: 1000px;
    font-size: 10px;
    margin: 0 auto;
    margin-top: -170px;

}

a.rsvp-btn {
    display: inline-block;
    /*This makes height works with inline.*/
    background-color: red;
    position: relative;
    /*This makes outside of the shadow of background image */
    text-align: center;
    border-radius: 10px;
    font-size: 1.5rem;
    text-decoration: none;
    padding: 10px;
    color: white;
    transition-duration: 0.4s;
    margin-left: 25px;
    margin-top: 5px;

}

a.rsvp-btn:hover {
    background-color: #4CAF50;
    /* Green */
    color: white;
}

/* Small devices */
@media (max-width: 600px) {
    p {
        font-size: 1.25rem;
    }

    .header {
        font-size: 1.25rem;
    }

    #hero-image {
        width: 100%;
        height: 50vh;

    }

    .link {
        font-size: x-large;
    }

    .event-paragrah {}

}

/* Medium/Tablets */
@media (min-width: 601px) and (max-width: 1000px) {
    p {
        font-size: 1.5rem;
        line-height: 1.5;
    }

    .header {
        font-size: 1.5rem;
        line-height: 1.5;
    }

    #hero-image {
        height: 70vh;
    }

    .event-paragrah {}
}

/* Large */
@media (min-width: 1001px) {
    p {
        font-size: 1.5rem;
        line-height: 1.5;
    }

    .header {
        font-size: 1.5rem;
        line-height: 1.5;
    }

    #hero-image {
        height: 60vh;
    }

    .event-paragrah {}
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/